<div data-controller="user" class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md">
  <%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <label class="block text-sm">
    <span class="text-gray-700">First Name</span>
    <%= form.text_field :first_name, placeholder: "Jane", class: "block w-full mt-1 text-sm focus:border-purple-400 focus:outline-none focus:shadow-outline-purple focus:shadow-outline-gray form-input" %>
  </label>
  <label class="block text-sm">
    <span class="text-gray-700">Last Name</span>
    <%= form.text_field :last_name, placeholder: "Doe", class: "block w-full mt-1 text-sm focus:border-purple-400 focus:outline-none focus:shadow-outline-purple focus:shadow-outline-gray form-input" %>
  </label>
  <label class="block text-sm">
    <span class="text-gray-700">Email</span>
    <%= form.email_field :email, placeholder: "jane.doe@mydomainhere.com", class: "block w-full mt-1 text-sm focus:border-purple-400 focus:outline-none focus:shadow-outline-purple focus:shadow-outline-gray form-input" %>
  </label>
  <label class="block text-sm">
    <span class="text-gray-700">Phone</span>
    <%= form.telephone_field :phone, placeholder: "1-888-555-1232", class: "block w-full mt-1 text-sm focus:border-purple-400 focus:outline-none focus:shadow-outline-purple focus:shadow-outline-gray form-input" %>
  </label>
  <div class="flex mt-2 mb-2 text-sm">
    <label class="flex items-center">
      <input data-id="<%= @user.id %>" data-action="change->user#toggleMentorFields" type="checkbox" class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple <%= "background-gray" if @user.mentor? %>" <%= "checked=checked disabled=disabled" if @user.mentor? %>>
      <span class="ml-2">
        Mentor?
      </span>
    </label>
  </div>
  <div data-target="user.isMentor" class="<%= @user.mentor? ? "mentor-fields" : "mentor-fields-collapse" %>">
    <label class="block text-sm">
      <span class="text-gray-700">Rate (15 Minute)</span>
      <%= form.fields_for :mentor do |m_form| %>
        <%= m_form.text_field :rate, placeholder: "16.00", class: "block w-full mt-1 text-sm focus:border-purple-400 focus:outline-none focus:shadow-outline-purple focus:shadow-outline-gray form-input" %>
      <% end %>
    </label>
  </div>
<!-- 
  <div class="mt-4 text-sm">
    <span class="text-gray-700">
      Account Type
    </span>
    <div class="mt-2">
      <label class="inline-flex items-center text-gray-600">
        <input type="radio" class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple" name="accountType" value="personal">
        <span class="ml-2">Personal</span>
      </label>
      <label class="inline-flex items-center ml-6 text-gray-600">
        <input type="radio" class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple" name="accountType" value="busines">
        <span class="ml-2">Business</span>
      </label>
    </div>
  </div>
  <label class="block mt-4 text-sm">
    <span class="text-gray-700">
      Requested Limit
    </span>
    <select class="block w-full mt-1 text-sm form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple">
      <option>$1,000</option>
      <option>$5,000</option>
      <option>$10,000</option>
      <option>$25,000</option>
    </select>
  </label>
  <label class="block mt-4 text-sm">
    <span class="text-gray-700">
      Multiselect
    </span>
    <select class="block w-full mt-1 text-sm form-multiselect focus:border-purple-400 focus:outline-none focus:shadow-outline-purple" multiple="">
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
      <option>Option 4</option>
      <option>Option 5</option>
    </select>
  </label>
  <label class="block mt-4 text-sm">
    <span class="text-gray-700">Message</span>
    <textarea class="block w-full mt-1 text-sm form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple" rows="3" placeholder="Enter some long form content."></textarea>
  </label>
  <div class="flex mt-6 text-sm">
    <label class="flex items-center">
      <input type="checkbox" class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple">
      <span class="ml-2">
        I agree to the
        <span class="underline">privacy policy</span>
      </span>
    </label>
  </div>
-->
  <div class="actions mt-6">
    <%= form.submit %>
  </div>
  <% end %>
</div>
